/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
resets
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-feature-settings: "ss01", "ss03",;
}

img {
    display: block;
    font-style: italic;
    object-fit: contain;
    image-orientation: none;
}

/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
variables, fonts, & variable fonts
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
*/

:root {
    --content-gaps: .5rem;
    --content-width: 27rem;
    --content-indent: 2ch;
    --content-outdent: -2ch;
    --content-margins-inline: 3rem;
    --content-margine-block: 2.5rem;
    --space-width: .5ch;
    --icon-size: .75rem;

    --text-weight-small: 500;
    --text-weight-p: 400;
    --text-weight-dropcap: 175;
    --text-weight-h1: 250;  /*12/6*/
    --text-weight-h2: 325;  /*9/6*/
    --text-weight-h3: 375;  /*7/6*/
    --text-weight-h4: 400;  /*6/6*/
    --text-weight-h5: 450;  /*5/6*/
    --text-weight-h6: 500;  /*4/6*/
    
    /* light colors */
    --cosmic-latte: #fff5e6;
    --aero-green: #d8ecd4;
    --self-luminous-red: #fcdada;
    --blending-blue: #94bde5;
    --go-away-green: #8fb198;
    --panettone-yellow: #f9d879;
    --white: #fff;
    --light-gray: #bbb;
    --lv-green: #8c9;

    /* dark colors */
    --p-448c: #4b422c;
    --eichengrau: #16171d;
    --black: #000;
    --mid-gray: #999;
    
    --fg-color: var(--black);
    --mg-color: var(--mid-gray);
    --bg-color: var(--lv-green);
    --bg-color-drawing: var(--white);

    --font-text: Inter, sans-serif;
    --font-heading: Inter, sans-serif;
    
    font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.material-symbols-outlined {
    vertical-align: -.1rem;
    font-size: 1rem;
    font-variation-settings:
    'FILL' 0,
    'wght' var(--text-weight-p),
    'GRAD' 0,
    'opsz' 12
}

.material-symbols-outlined {
    vertical-align: -.1rem;
    font-size: 1rem;
    font-variation-settings:
    'FILL' 0,
    'wght' var(--text-weight-p),
    'GRAD' 0,
    'opsz' 12
}

.wip {
    font-style: italic;

    &::before {
        content: "warning";
        margin-inline-end: var(--space-width);

        font-family: 'Material Symbols Outlined';
        font-style: normal;
        vertical-align: -.1rem;
        font-size: 1rem;
        font-variation-settings:
        'FILL' 0,
        'wght' var(--text-weight-p),
        'GRAD' 0,
        'opsz' 12;

        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga'
    } 
}

i.material-symbols-outlined { margin-inline-start: var(--space-width); }

h1      { font-weight: var(--text-weight-h1);       font-size: 2rem;    } /* 12/6 */
h2      { font-weight: var(--text-weight-h2);       font-size: 1.5rem;  } /* 9/6 */
h3      { font-weight: var(--text-weight-h3);       font-size: 1.17rem; } /* 7/6 */
h4      { font-weight: var(--text-weight-h4);       font-size: 1rem;    } /* 6/6 */
h5      { font-weight: var(--text-weight-h5);       font-size: .83rem;  } /* 5/6 */
h6      { font-weight: var(--text-weight-h6);       font-size: .67rem;  } /* 4/6 */

#dropcap{ font-weight: var(--text-weight-dropcap);  font-size: 2.75rem; }

blockquote, p, code
{         font-weight: var(--text-weight-p);        font-size: 1rem;    } /* 6/6 */
figcaption, footer, #footer, #publish-date, small, sup
{         font-weight: var(--text-weight-small);    font-size: .67rem;  } /* 4/6 */

blockquote {
    font-style: italic;
}

h1 {
    line-height: 1.125;
}

#publish-date {
    font-style: italic;
}

#dropcap {
    line-height: .915;
    float: left;
    margin: 0 .25rem -.25rem -.2rem;
}

figcaption {
    font-style: italic;
}

blockquote {
    margin-inline: var(--content-indent);
}

/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
layout
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
*/  

.breadcrumb {
    display: inline-block;
    list-style-type: none;

    margin-block-end: calc(var(--content-gaps) * 2);

    & li {
        display: inline;

        &:not(:last-child)::after {
            content: '→';
            margin-inline: var(--space-width);
        }
    }
}

body {
    max-inline-size: var(--content-width);
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin: var(--content-margine-block) var(--content-margins-inline);
}

main > :not(:first-child), article > *, .resume-section > * {
    margin-block-start: var(--content-gaps);
}

.float-right { float: right; }

.float-center { margin-inline: auto; }

.even-spacing-horizontal {
    display: flex;
    justify-content: space-evenly;
}
.tabular-lining-figures {
    font-feature-settings: "tnum";
}

.project-icon { 
    display: inline-block;
    block-size: 4rem;
}

.panettone-icon-after > p:last-of-type::after {
    display: inline-block;
    block-size: var(--icon-size);
    inline-size: var(--icon-size);
    margin-inline-start: var(--space-width);

    content: '';
    -webkit-mask: url(/panettone.svg) no-repeat 50% 50%;
    mask: url(/panettone.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--panettone-yellow);
}

/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
in text elements
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
*/

hr { border: solid var(--fg-color) .05rem; }

.small-img { height: 4rem; width: auto; }
.medium-img { height: 8rem; width: auto;}

.carousel{
    display: flex;
    margin-inline-start: calc(-1 * var(--content-margins-inline));
    width: 100vw;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    gap: var(--content-gaps);
}

.carousel a, .carousel img, .carousel div   { height: 16rem; width: auto; }
.carousel >:first-child                     { margin-inline-start: var(--content-margins-inline); }
.carousel >:last-child                      { margin-inline-end: var(--content-margins-inline); }
article img                                 { border-radius: var(--content-gaps); }
article > img                               { max-inline-size: 100%; }

.drawing { background-color: var(--bg-color-drawing); }

code {
    font-family: Consolas, monospace;
    line-height: 1;
    white-space: pre;
}

footer { margin-block-start: 5rem; }    

ul {
    list-style-type: none;
    padding-inline-start: var(--content-indent);

    &.resume-section {
        padding-inline-start: 0;
    }

    header & {
        margin: 0;
        padding: 0;
    }

    &.resume{
        list-style-type: '- ';
    }
}

a {
    &, .breadcrumb &:hover,  .breadcrumb &:focus-visible {
        color: var(--fg-color);
        text-decoration: underline var(--fg-color) .09rem;
    }

    &.download::after   { content: '↓'; }

    &::after {
        display: inline-block;
        text-decoration: none;
        padding-inline-start: var(--space-width);
    }

    &:hover {
        font-style: italic;    
    }

    &:hover, &:focus-visible, .breadcrumb &, code > & {
        text-decoration: none;
    }
}

.links {
    margin-block: var(--content-gaps);

    footer & { padding-inline-start: 0; }
}

.download::before {
    content: '↓';
    margin-inline-end: var(--space-width);
}

/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
custom icon elements
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
*/

.icon::before {
    display: inline-block;
    block-size: var(--icon-size);
    inline-size: var(--icon-size);
    margin-inline-end:  var(--space-width);
}

/* projects */
.soccer-stadium::before     { content: url(/work/soccer-stadium/icon.svg);          }
.pet-chair::before          { content: url(/work/pet-chair/icon.svg);               }
.two-italian-towns::before  { content: url(/work/two-italian-towns/icon.svg);       }
.plaintext::before          { content: url(/work/plaintext-sketchbook/icon.svg);    }
.train-station::before      { content: url(/work/train-station/icon.svg);           }
.visitor-center::before     { content: url(/work/visitor-center/icon.svg);          }
.victims-in-mc::before      { content: url(/work/victims-in-mc/icon.svg);           }