/* 
================================
resets
================================
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-feature-settings: "ss03", "cv09", "cv03", "cv04";
}

img {
    max-inline-size: 100%;
    display: block;
    font-style: italic;
}

/* 
================================
variables, fonts, & variable fonts
================================
*/

:root {
    --content-gaps: .75rem;
    --content-width: 50ch;
    --content-indent: 2ch;
    --content-outdent: -2ch;
    --space-width: .5ch;
    --text-weight-small: 500;
    --text-weight-p: 400;
    --text-weight-dropcap: 175;
    --text-weight-h1: 250;  /*12/6*/
    --text-weight-h2: 325;  /*9/6*/
    --text-weight-h3: 375;  /*7/6*/
    --text-weight-h4: 400;  /*6/6*/
    --text-weight-h5: 450;  /*5/6*/
    --text-weight-h6: 500;  /*4/6*/
    
    /* light colors */
    --cosmic-latte: #fff5e6;
    --aero-green: #d8ecd4;
    --self-luminous-red: #fcdada;
    --blending-blue: #94bde5;
    --go-away-green: #8fb198;
    --panettone-yellow: #f9d879;
    
    /* dark colors */
    --p-448c: #4b422c;
    --eichengrau: #16171d;
    --black: #000;
    --mid-gray: #999;
    --light-gray: #bbb;
    
    --fg-color: var(--black);
    --mg-color: var(--mid-gray);
    --bg-color: var(--light-gray);
    
    --font-text: Inter, sans-serif;
    --font-heading: Inter, sans-serif;
    
    font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.material-symbols-outlined {
    vertical-align: -.1rem;
    padding: 0;
    font-size: 1rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 12
}

i.material-symbols-outlined { margin-inline: var(--space-width); }

h1      { font-weight: var(--text-weight-h1);       font-size: 2rem;    }
h2      { font-weight: var(--text-weight-h2);       font-size: 1.5rem;  }
h3      { font-weight: var(--text-weight-h3);       font-size: 1.17rem; }
h4      { font-weight: var(--text-weight-h4);       font-size: 1rem;    }
h5      { font-weight: var(--text-weight-h5);       font-size: .83rem;  }
h6      { font-weight: var(--text-weight-h6);       font-size: .67rem;  }
#dropcap{ font-weight: var(--text-weight-dropcap);  font-size: 2.75rem; }
blockquote, p
{         font-weight: var(--text-weight-p);        font-size: 1rem;    }
figcaption, footer, #footer, #publish-date, small, sup
{         font-weight: var(--text-weight-small);    font-size: .75rem;  }

h1 { line-height: 1.125; }

#publish-date { font-style: italic; }

#dropcap {
    line-height: .915;
    float: left;
    margin: 0 .25rem -.25rem -.2rem;
}

.float-right { float: right; }

blockquote { margin-inline: var(--content-indent); }

/* 
================================
layout
================================
*/

body {
    max-inline-size: var(--content-width);
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin: 2.5rem 3rem;
}

main > :not(:first-child), article > * {
    margin-block-start: var(--content-gaps);
}

article > p:last-of-type::after {
    display: inline-block;
    block-size: 1rem;
    inline-size: 1rem;
    color: var(--fg-color);
    -webkit-mask: url(/panettone.svg) norepeat center;
    mask: url(/panettone.svg) norepeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-inline-start: var(--space-width);
    content: "";
}

.breadcrumb {
    display: inline-block;
    list-style-type: none;

    margin-block-end: calc(var(--content-gaps) * 2);

    & li {
        display: inline;

        &:not(:last-child)::after {
            content: '→';
            margin-inline: var(--space-width);
        }
    }
}

/* 
================================
semantic selectors
================================
*/

hr { border: solid var(--fg-color) .05rem; }

.carousel, .in-text{
    border-radius: .5rem;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    gap: 1rem;

    & img {
        border-radius: .5rem;
        max-height: 20rem;
        
        @media(max-width:40rem) {
            max-height: 12rem;
        }
    }
}

footer { margin-block-start: 5rem; }    

ul {
    list-style-type: none;

    &.resume{
        padding-inline-start: var(--content-indent);
        list-style-type: '- ';
    }
}

a {
    &, .breadcrumb &:hover,  .breadcrumb &:focus-visible {
        color: var(--fg-color);
        text-decoration: underline var(--fg-color) .09rem;
    }

    &.link::after       { content: '→'; }
    &.download::after   { content: '↓'; }

    &::after {
        display: inline-block;
        text-decoration: none;
        padding-inline-start: var(--space-width);
    }

    &:hover, &:focus-visible, .breadcrumb & {
        text-decoration: none;
    }
}

.links {
    list-style-type: none;
    margin-block: var(--content-gaps);
    padding-inline-start: var(--content-indent);

    footer & { padding-inline-start: 0; }
}